# Ignore all
*

# Unignore all with extensions
!*.cpp*
!*.sh
!*.py
!*.hpp
!*.md
!*.png

# Unignore all dirs
!*/

# Ignore selected dirs
.vscode/
*.exe
*.out
Other/

# Unignore selected files
!Makefile